<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tom.clock" android:versionCode="12" android:versionName="1.4">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
             android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="TomClockV1Configure" android:screenOrientation="portrait">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
		    </intent-filter>
		</activity>
    
        <receiver android:name="TomClockV1">
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/appwidget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        
        <service android:name="TomClockV1Service" />
    </application>
    
    <uses-sdk android:minSdkVersion="4" />

</manifest> 
